<html>

<head>

<link rel="stylesheet" href="styles.css">

</head>

<body>

<br>
<form action="/addCat" method="post">
    <div>
        <label>Cat Name:</label>
        <input type="text" name="catName" value="felix"/>
        <label>Cat Breed:</label>
        <input type="text" name="breed" value="brown"/>
        <label>Cat Image:</label>
        <input type="text" name="image" value="www.google.com/images"/>
        <label>Cat Age:</label>
        <input type='text' name='age' value='2'>
    </div>
    <div>
        <input type="submit" value="Add Cat"/>
    </div>
</form>

</body>


</html>